<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/error.css">
  <title>Erro</title>
</head>

<body>
  <main class="container d-flex align-items-center justify-content-center">
    <div class="row d-flex content">
      <div class="col-12 d-flex flex-wrap align-items-center justify-content-center m-auto text-center box-error">
        <img src="/img/error.png" alt="Erro" class="img-error">
        <span class="error-message">HOUVE UM ERRO INESPERADO!</span>
      </div>
      <div
        class="col-12 d-flex flex-wrap align-items-center justify-content-center m-auto text-center box-disconnected">
        <img src="/img/wifiOff.png" alt="Imagem de Wi-Fi desconectado" class="img-disconnected">
        <span class="disconnected-message">Certifique-se de estar conectado à internet.</span>
      </div>
    </div>

  </main>
</body>

</html>