<!DOCTYPE html>
<html th:include="template :: modelo">

<body>
  <div th:fragment="conteudo">

    <div class="container d-flex flex-column align-items-center mt-5 mb-5">
      <div class="d-flex flex-column align-items-center box-content mt-3">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <div class="box-user-info">
            <div class="box-user-pic">
              <img th:src="${userlog.foto}" alt="Foto de perfil do usuário" class="user-picture">
              <button class="btn-edit-user-pic">
                <img th:src="@{/img/pencil.png}" alt="Ícone de editar" class="icon-edit">
              </button>
            </div>
          </div>
          <span class="text-center userperfil" th:text="${userlog.nome}"></span>
        </div>

        <form
          class="d-flex flex-column w-100 mb-5 form-perfil">
          <input type="hidden">
          <label for="email" class="mb-2">E-mail:</label>
          <input type="email" name="email" id="txtEmail" class="w-100 mb-5"
            th:value="${userlog.email}">
          <label for="email" class="mb-2">Telefone:</label>
          <input type="tel" name="tel" id="txtTel" class="w-100  mb-5"
            th:value="${userlog.telefone}">
          <button class="py-2 px-4 align-self-center border border-dark rounded-pill mb-2 btn-update">Atualizar</button>
        </form>
      </div>
    </div>

    <link rel="stylesheet" href="/css/perfil.css">
  </div>
</body>

</html>
